<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <p>Total Products: <%= @product_count %></p>
  <p>Total Categories: <%= @category_count %></p>

</section>
